.note {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    height: 170px;
    position: relative;
    margin-bottom: 10px;
    transition: transform 0.2s; /* Add transition for smooth animation */
  }
  
  .delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 2px;
    transition: transform 0.2s; /* Add transition for smooth animation */
  }
  
  .edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 2px;
    transition: transform 0.2s; /* Add transition for smooth animation */
  }
  

  .note:hover {
    
   
    box-shadow: 1px 1px 1px rgba(50, 48, 48, 0.484);  
  
  }
  
 
  .edit:hover {
    
    color: #fff; 
    transform: scale(1.3); 
  }
  
 
  .delete:hover {

    color: #fff; 
    transform: scale(1.3); 
  }
  .note.editing textarea {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 5px;
    width: 100%;
    height: 55%;
    resize: vertical;
    margin-bottom: 0px;
    /* Set the minimum height to one line */
    min-height: 14px;
  }
  
  /* Styles for the input when in editing mode */
  .note.editing input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    margin-bottom: 7px;
  }
  
  /* Styles for the Save button when in editing mode */
  .note.editing button {
    display: block;
    margin: 0 ;
    padding: 6px 10px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
  }
  
  .note.editing button:hover {
    background-color: #3277d8;
  }